.estimate-project-form {
  background-color: $lightGrey;

  .content {
    padding: 40px 0;
    @include mobile-version {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .column-400 {
    margin-left: 0;
    margin-right: 20px;
    flex: 1;
  }

  @include desktop-version {
    margin-top: -60px;
  }
}

ol.estimate-list {
  padding-left: 0;

  counter-reset: li;
  margin: 48px 0;
  & > li {
    position: relative;
    margin: 0 0 60px 30px;
    list-style: none;
    padding: 10px 0 0 64px;

    @include desktop-version {
      margin: 0 0 60px 60px;
    }
  }
  & > li:before {
    content: counter(li);
    counter-increment: li;
    display: block;
    position: absolute;
    left: -10px;
    top: 6px;
    border-radius: 20px;
    border: 1px solid $black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $black;
    font-family: 'Neutrif Medium';
    font-size: 24px;
    text-align: center;

    @include desktop-version {
      left: -40px;
    }
  }

  @include mobile-version {
    & > li {
      list-style: none;
      margin-left: 0px;
      margin-bottom: 40px;
      padding: 0 16px;
    }

    li:before {
      content: none;
    }

    .sub1 {
      font-family: 'Recoleta';
    }
  }

  input[type='radio'] {
    display: none;

    & + label {
      position: relative;

      p {
        width: 75%;

        margin: 24px auto 0px;
        text-align: center;

        @include mobile-version {
          margin-left: 15px;
          margin-right: 50px;
          padding-bottom: 12px;
          text-align: left;
        }
      }

      @include mobile-version {
        margin: 0 0 12px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      @include darken-link-on-hover(5%);
    }

    &:checked + label {
      background-color: $yellow;
      &:after {
        content: '✓';
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        display: block;
        position: absolute;
        top: 20px;
        right: 18px;
        border-radius: 18px;
        border: 2px solid $black;
        width: 32px;
        height: 32px;

        @include mobile-version {
          top: 28px;
          right: 16px;
        }
      }
    }
  }

  input[type='text'] {
    margin-right: 24px;
    font-size: 14px;
    padding: 0 16px;
    &:focus {
      border-width: 2px;
    }
  }

  textarea {
    font-size: 14px;
    font-family: 'Neutrif';
    padding: 16px;
    flex: 1;
    &:focus {
      border-width: 2px;
    }
  }

  .radio label {
    width: 224px;
    height: 224px;
    border-radius: 8px;
    background-color: $paleYellow;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;

    @include mobile-version {
      margin-top: 0;
      margin-left: 16px;
      width: 95px;
      height: 95px;
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 82%;
      width: 82%;
      left: 10%;

      @include mobile-version {
        margin-top: 0;
        margin-left: 16px;
        width: 95px;
        height: 95px;
        left: 0;
      }
    }

    .image-label {
      margin-top: -18px;

      @include mobile-version {
        margin-top: 16px;
      }
    }
  }

  @extend .form-elements;

  button {
    font-size: 16px;
    font-family: 'Neutrif';
    background: $yellow;
    color: $black;
    border: none;
    box-shadow: none;

    @include mobile-version {
      margin-top: 23px;
      width: 100%;
    }

    @include darken-link-on-hover(10%);
  }

  legend {
    margin-bottom: 48px;
  }
}

.center-vertically {
  display: flex;
  align-items: center;

  h2 {
    margin-top: 0;
  }
}

img.estimate-image {
  max-width: 100%;
  max-height: 355px;
}
