$black: #2d2d2d;
$yellow: #ffde1a;
$lightYellow: #f3f1dd;
$paleYellow: #f5f4eb;
$lightGrey: #fafafa;
$grey: #dbdbdb;
$darkGrey: #414141;
$slightlyDarkGrey: #555;
$codeYellow: #fce97e;
$codeVariable: #005499;
$quoteGrey: #979797;
