@font-face {
  font-family: 'Neutrif';
  src: url('../fonts/neutrif-pro.woff2');
}

@font-face {
  font-family: 'Neutrif Medium';
  src: url('../fonts/neutrif-pro-medium.woff2');
}

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Medium.woff2');
}
